<h1>Donators#home</h1>
<p>Find me in app/views/donators/home.html.erb</p>

<h1><%= link_to 'Donatur', donators_path %></h1>
<h1><%= link_to 'Mustahik', receivers_path %></h1>
<h1><%= link_to 'Donasi', donates_path %></h1>